{% block 'content' %}
{% load static %}

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Ohuru Admin Panel</title>
   <!-- Favicon and touch icons -->
   <link rel="shortcut icon" href=" {% static 'favicon.ico' %} " type="image/x-icon">
   <!-- Start Global Mandatory Style
         =====================================================================-->
   <!-- jquery-ui css -->
   <link href=" {% static 'assets/plugins/jquery-ui-1.12.1/jquery-ui.min.css' %} " rel="stylesheet" type="text/css" />
   <!-- Bootstrap -->
   <link href=" {% static 'assets/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet" type="text/css" />
   <!-- Bootstrap rtl -->
   <!--<link href=" {% static 'Modified_files/assets/bootstrap-rtl/bootstrap-rtl.min.css' %} " rel="stylesheet" type="text/css"/>-->
   <!-- Lobipanel css -->
   <link href=" {% static 'assets/plugins/lobipanel/lobipanel.min.css' %} " rel="stylesheet" type="text/css" />
   <!-- Pace css -->
   <link href=" {% static 'assets/plugins/pace/flash.css' %} " rel="stylesheet" type="text/css" />
   <!-- Font Awesome -->
   <link href=" {% static 'assets/font-awesome/css/font-awesome.min.css' %} " rel="stylesheet" type="text/css" />
   <!-- Pe-icon -->
   <link href=" {% static 'assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %} " rel="stylesheet" type="text/css" />
   <!-- Themify icons -->
   <link href=" {% static 'assets/themify-icons/themify-icons.css' %} " rel="stylesheet" type="text/css" />
   <!-- End Global Mandatory Style
         =====================================================================-->
   <!-- Start page Label Plugins 
         =====================================================================-->
   <!-- Emojionearea -->
   <link href=" {% static 'assets/plugins/emojionearea/emojionearea.min.css' %} " rel="stylesheet" type="text/css" />
   <!-- Monthly css -->
   <link href=" {% static 'assets/plugins/monthly/monthly.css' %} " rel="stylesheet" type="text/css" />
   <!-- End page Label Plugins 
         =====================================================================-->
   <!-- Start Theme Layout Style
         =====================================================================-->
   <!-- Theme style -->
   <link href=" {% static 'assets/dist/css/stylecrm.css' %} " rel="stylesheet" type="text/css" />
   <!-- Theme style rtl -->
   <!--<link href=" {% static 'Modified_files/assets/dist/css/stylecrm-rtl.css' %} " rel="stylesheet" type="text/css"/>-->
   <!-- End Theme Layout Style
         =====================================================================-->
</head>

<body class="hold-transition sidebar-mini">
   <!--preloader-->
   <div id="preloader">
      <div id="status"></div>
   </div>
   <!-- Site wrapper -->
   <div class="wrapper">
      <header class="main-header">
         <a href="#" class="logo">
            <!-- Logo -->
            <span class="logo-mini">
               <img src=" {% static 'assets/dist/img/ohurulogo.png' %} ">
            </span>
            <span class="logo-lg">
               <img src=" {% static 'assets/dist/img/ohuru.png' %} ">
            </span>
         </a>
         <!-- Header Navbar -->
         <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
               <!-- Sidebar toggle button-->
               <span class="sr-only">Toggle navigation</span>
               <img src=" {% static 'assets/dist/img/toggle.png' %} ">
            </a>
         </nav>
      </header>
      <aside class="main-sidebar">
         <!-- sidebar -->
         <div class="sidebar">
            <!-- sidebar menu -->
            <ul class="sidebar-menu">
               <li class="active">
                  <a href="{% url 'accounts:base' %}"><img
                        src=" {% static 'assets/dist/img/board.png' %} "><span>Dashboard</span>
                     <span class="pull-right-container">
                     </span>
                  </a>
               </li>
               <li class="treeview">
                  <a href="#">
                     <img src=" {% static 'assets/dist/img/customer.png' %} "><span>Customers</span>
                     <span class="pull-right-container">
                        <img src=" {% static 'assets/dist/img/arrow.png' %} ">
                     </span>
                  </a>
                  <ul class="treeview-menu">
                     <li><a href=" {% url 'accounts:clist' %} ">List</a></li>
                  </ul>
               </li>
               <li class="treeview">
                  <a href="#">
                     <img src=" {% static 'assets/dist/img/task.png' %} "><span>Task</span>
                     <span class="pull-right-container">
                        <img src=" {% static 'assets/dist/img/arrow.png' %} ">
                     </span>
                  </a>
                  <ul class="treeview-menu">
                     <li><a href=" {% url 'accounts:rtask' %} ">Running Task</a></li>
                     <li><a href=" {% url 'accounts:atask' %} ">Archive Task</a></li>
                  </ul>
               </li>
               <li>
                  <a href=" {% url 'accounts:user' %} ">
                     <img src=" {% static 'assets/dist/img/user.png' %} "><span>User</span>
                     <span class="pull-right-container">
                     </span>
                  </a>
               </li>
               <li>
                  <a href=" {% url 'accounts:items' %} ">
                     <img src=" {% static 'assets/dist/img/items.png' %} "><span>Items</span>
                     <span class="pull-right-container">
                     </span>
                  </a>
               </li>
               <li>
                  <a href=" {% url 'accounts:department' %} ">
                     <img src=" {% static 'assets/dist/img/depart.png' %} "><span>Departments</span>
                     <span class="pull-right-container">
                     </span>
                  </a>
               </li>
               
            </ul>
         </div>
         <!-- /.sidebar -->
      </aside>
         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon"><i class="fa fa-user-circle-o"></i></div>
               <div class="header-title">
                  <h1>Profile</h1>
                  <small>Show user data in clear profile design</small>
               </div>
            </section>
            <!-- Main content -->
            <section class="content">
               <div class="row" align="center">
                  <div class="col-sm-12 col-md-4">
                     <div class="card">
                        <div class="card-header">
                           <div class="card-header-headshot"></div>
                        </div>
                        <div class="card-content">
                           <div class="card-content-member text-center">
                              <h4 class="m-t-0">Alrazy</h4>
                              <p class="m-t-0">Dhaka</p>
                           </div>
                           <div class="card-content-languages">
                              <div class="card-content-languages-group">
                                 <div>
                                    <h4>Speaks:</h4>
                                 </div>
                                 <div>
                                    <ul>
                                       <li>
                                          English
                                          <div class="fluency fluency-4"></div>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="card-content-languages-group">
                                 <div>
                                    <h4>Learning:</h4>
                                 </div>
                                 <div>
                                    <ul>
                                       <li>Spanish,</li>
                                       <li>Russian,</li>
                                       <li>German</li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="card-content-summary">
                              <p>Specialties are Creative UI, HTML5, CSS3, Semantic Web, Responsive Layouts, Web Standards Compliance, Performance Optimization, Cross Device Troubleshooting.</p>
                           </div>
                        </div>
                        <div class="card-footer">
                           <div class="card-footer-stats">
                              <div>
                                 <p>PROJECTS:</p>
                                 <span>241</span>
                              </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  </div>
               </div>
            </section>
            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
         {% endblock %}
         <footer class="main-footer">
            <strong>Copyright &copy; <a href="https://ohuru.tech">Ohuru</a>.</strong> All rights reserved.
         </footer>
      </div>
      <script src=" {% static 'assets/plugins/jQuery/jquery-1.12.4.min.js' %} " type="text/javascript"></script>
      <!-- jquery-ui -->
      <script src=" {% static 'assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js' %} " type="text/javascript"></script>
      <!-- Bootstrap -->
      <script src=" {% static 'assets/bootstrap/js/bootstrap.min.js' %} " type="text/javascript"></script>
      <!-- lobipanel -->
      <script src=" {% static 'assets/plugins/lobipanel/lobipanel.min.js' %} " type="text/javascript"></script>
      <!-- Pace js -->
      <script src=" {% static 'assets/plugins/pace/pace.min.js' %} " type="text/javascript"></script>
      <!-- SlimScroll -->
      <script src=" {% static 'assets/plugins/slimScroll/jquery.slimscroll.min.js' %} "
         type="text/javascript">    </script>
      <!-- FastClick -->
      <script src=" {% static 'assets/plugins/fastclick/fastclick.min.js' %} " type="text/javascript"></script>
      <!-- CRMadmin frame -->
      <script src=" {% static 'assets/dist/js/custom.js' %} " type="text/javascript"></script>
      <!-- End Core Plugins
         =====================================================================-->
      <!-- Start Page Lavel Plugins
         =====================================================================-->
      <!-- ChartJs JavaScript -->
      <script src=" {% static 'assets/plugins/chartJs/Chart.min.js' %} " type="text/javascript"></script>
      <!-- Counter js -->
      <script src=" {% static 'assets/plugins/counterup/waypoints.js' %} " type="text/javascript"></script>
      <script src=" {% static 'assets/plugins/counterup/jquery.counterup.min.js' %} " type="text/javascript"></script>
      <!-- Monthly js -->
      <script src=" {% static 'assets/plugins/monthly/monthly.js' %} " type="text/javascript"></script>
      <!-- End Page Lavel Plugins
         =====================================================================-->
      <!-- Start Theme label Script
         =====================================================================-->
      <!-- Dashboard js -->
      <script src=" {% static 'assets/dist/js/dashboard.js' %} " type="text/javascript"></script>
      <!-- End Theme label Script
         =====================================================================-->
      <script>
         function dash() {
            // single bar chart
            var ctx = document.getElementById("singelBarChart");
            var myChart = new Chart(ctx, {
               type: 'bar',
               data: {
                  labels: ["Sun", "Mon", "Tu", "Wed", "Th", "Fri", "Sat"],
                  datasets: [
                     {
                        label: "My First dataset",
                        data: [40, 55, 75, 81, 56, 55, 40],
                        borderColor: "rgba(0, 150, 136, 0.8)",
                        width: "1",
                        borderWidth: "0",
                        backgroundColor: "rgba(0, 150, 136, 0.8)"
                     }
                  ]
               },
               options: {
                  scales: {
                     yAxes: [{
                        ticks: {
                           beginAtZero: true
                        }
                     }]
                  }
               }
            });
            //monthly calender
            $('#m_calendar').monthly({
               mode: 'event',
               //jsonUrl: 'events.json',
               //dataType: 'json'
               xmlUrl: 'events.xml'
            });

            //bar chart
            var ctx = document.getElementById("barChart");
            var myChart = new Chart(ctx, {
               type: 'bar',
               data: {
                  labels: ["January", "February", "March", "April", "May", "June", "July", "august", "september", "october", "Nobemver", "December"],
                  datasets: [
                     {
                        label: "My First dataset",
                        data: [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56],
                        borderColor: "rgba(0, 150, 136, 0.8)",
                        width: "1",
                        borderWidth: "0",
                        backgroundColor: "rgba(0, 150, 136, 0.8)"
                     },
                     {
                        label: "My Second dataset",
                        data: [28, 48, 40, 19, 86, 27, 90, 28, 48, 40, 19, 86],
                        borderColor: "rgba(51, 51, 51, 0.55)",
                        width: "1",
                        borderWidth: "0",
                        backgroundColor: "rgba(51, 51, 51, 0.55)"
                     }
                  ]
               },
               options: {
                  scales: {
                     yAxes: [{
                        ticks: {
                           beginAtZero: true
                        }
                     }]
                  }
               }
            });
            //counter
            $('.count-number').counterUp({
               delay: 10,
               time: 5000
            });
         }
         dash();         
      </script>